<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý danh mục</title>
    <style>
        .container { display: flex; gap: 40px; }
        .left { width: 60%; }
        .right { width: 40%; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border-bottom: 1px solid #ccc; padding: 8px; }
        .actions a { margin-right: 8px; }
        .btn { padding: 6px 12px; cursor: pointer; }
    </style>
</head>
<body>

<h2>QUẢN LÍ DANH MỤC TÀI SẢN</h2>
<div class="container">
    <!--    bên trái -->
    <div class="left">
        <table>
            <thead>
            <tr>
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Hành động</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="c: ${categories}">
                <td th:text="${c.categoryId}"></td>
                <td th:text="${c.categoryName}"></td>
                <td class="actions">
                    <a th:href="@{'/manager/categories?id=' +${c.categoryId}}">✏</a>
                    <a th:href="@{'/manager/categories/delete/' +${c.categoryId}}"
                       onclick="return confirm('Bạn có chắc chắn muốn xóa?')">🗑</a>

                </td>

            </tr>

            </tbody>
        </table>

    </div>

    <!--    bên phải -->
    <div class="right">

        <form th:action="@{/manager/categories}"
              th:object="${category}"
              method="post">

            <input type="hidden" th:field="*{categoryId}"/>

            <label>Tên danh mục</label><br/>
            <input type="text" th:field="*{categoryName}" placeholder="Nhập tên danh mục" required><br/>

            <label>Mô tả</label><br/>
            <textarea th:field="*{description}" placeholder="Nhập mô tả"></textarea> <br/>

            <label>Trạng thái</label><br/>
            <select th:field="*{status}">
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
            </select><br/>

            <button type="submit" name="add"
                    th:if="${mode == 'create'}">Thêm mới</button>

            <button type="submit" name="save"
                    th:if="${mode == 'update'}">Cập nhật</button>

            <button type="reset" class="btn">Hủy</button>


        </form>

    </div>

</div>

</body>
</html>