<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/manager-layout}">

<head>
    <title>Chi tiết Kho hàng</title>
</head>

<body>
    <th:block layout:fragment="content">

        <h1>CHI TIẾT KHO HÀNG</h1>

        <!-- Thông tin kho -->
        <table border="1" cellpadding="6" cellspacing="0">
            <tr>
                <th>ID</th>
                <td th:text="${warehouse.id}"></td>
            </tr>
            <tr>
                <th>Tên kho</th>
                <td th:text="${warehouse.name}"></td>
            </tr>
            <tr>
                <th>Địa chỉ</th>
                <td th:text="${warehouse.address}"></td>
            </tr>
            <tr>
                <th>Trạng thái</th>
                <td th:text="${warehouse.status}"></td>
            </tr>
        </table>

        <br />

        <!-- Nút điều hướng -->
        <a th:href="@{'/warehouses/' + ${warehouse.id} + '/edit'}">Sửa thông tin kho</a>
        |
        <a href="/warehouses">Quay lại danh sách</a>


    </th:block>
</body>

</html>