<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">

<head>
    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/asset/asset-form.css}">
    </th:block>
</head>

<body>

<th:block layout:fragment="content">

    <header class="page-header">
        <h1 class="page-title"
            th:text="${isEdit} ? 'CẬP NHẬT TÀI SẢN' : 'TẠO TÀI SẢN'"></h1>
    </header>

    <div class="content-wrapper">

        <div class="error-message"
             th:if="${error}"
             th:text="${error}">
        </div>

        <div class="form-panel">

            <form th:action="${isEdit} ? @{/manager/assets/edit/{id}(id=${asset.assetId})} : @{/manager/assets/create}"
                  th:object="${asset}" method="post">

                <input type="hidden" th:if="${isEdit}" th:field="*{assetId}"/>

                <div class="form-grid">

                    <!--asset name-->
                    <div class="form-field">
                        <label>Tên tài sản</label>
                        <input type="text" th:field="*{assetName}">

                        <span class="error"
                              th:if="${#fields.hasErrors('assetName')}"
                              th:errors="*{assetName}">
                        </span>

                    </div>

                    <!-- quantity -->
                    <div th:if="${!isEdit}" class="form-field">
                        <label>Số lượng</label>
                        <input type="number" th:field="*{quantity}"
                               placeholder="VD: 123"/>

                        <span class="error"
                              th:if="${#fields.hasErrors('quantity')}"
                              th:errors="*{quantity}">
                        </span>
                    </div>

                    <!--asset type-->
                    <div class="form-field">
                        <label>Loại tài sản</label>
                        <select th:field="*{assetTypeId}">
                            <option value="">-- Chọn loại tài sản --</option>
                            <option th:each="type : ${assetTypes}"
                                    th:value="${type.typeId}"
                                    th:text="${type.typeName}"></option>
                        </select>
                        <span class="error"
                              th:if="${#fields.hasErrors('assetTypeId')}"
                              th:errors="*{assetTypeId}">
                        </span>
                    </div>

                    <!--purchase order-->
                    <div class="form-field">
                        <label>Đơn mua</label>
                        <select th:field="*{purchaseOrderDetailId}">
                            <option value="">-- Chọn đơn mua --</option>
                            <option th:each="order : ${orders}"
                                    th:value="${order.purchaseOrderDetailId}"
                                    th:text="'PO-' + ${order.purchaseOrderDetailId}">
                            </option>
                        </select>
                    </div>

                    <!--acquisitionDate-->
                    <div class="form-field">
                        <label>Ngày mua</label>
                        <input type="date" th:field="*{acquisitionDate}">
                    </div>


                    <!--originalCost-->
                    <div class="form-field">
                        <label>Nguyên giá</label>
                        <input type="number" th:field="*{originalCost}">

                        <span class="error"
                              th:if="${#fields.hasErrors('originalCost')}"
                              th:errors="*{originalCost}">
                        </span>
                    </div>

                    <!--warrantyStartDate-->
                    <div class="form-field">
                        <label>Bảo hành bắt đầu</label>
                        <input type="date" th:field="*{warrantyStartDate}">
                    </div>

                    <!--warrantyEndDate-->
                    <div class="form-field">
                        <label>Bảo hành kết thúc</label>
                        <input type="date" th:field="*{warrantyEndDate}">
                    </div>

                    <!--status-->
                    <div class="form-field">
                        <label>Trạng thái tài sản</label>
                        <select th:field="*{currentStatus}">
                            <option value="">-- Chọn trạng thái tài sản --</option>
                            <option th:each="status : ${statuses}"
                                    th:value="${status}"
                                    th:text="${status}">
                            </option>
                        </select>

                        <span class="error"
                              th:if="${#fields.hasErrors('currentStatus')}"
                              th:errors="*{currentStatus}">
                        </span>
                    </div>


                </div>

                <div class="form-actions">

                    <button type="submit"
                            class="btn-primary"
                            th:text="${isEdit} ? 'CẬP NHẬT' : 'THÊM MỚI'"></button>

                    <button type="button"
                            onclick="window.location.href='/manager/assets'"
                            class="btn-secondary">
                        HỦY
                    </button>

                </div>

            </form>

        </div>
    </div>

</th:block>

</body>
</html>