<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">

<head>
    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/asset/asset-form.css}">
    </th:block>
</head>

<body>

<th:block layout:fragment="content">

    <header class="page-header">
        <h1 class="page-title" th:text="${isEdit} ? 'CẬP NHẬT TÀI SẢN' : 'TẠO TÀI SẢN'"></h1>
    </header>

    <div class="content-wrapper">

        <div th:if="${error}" class="error-box">
            <span th:text="${error}"></span>
        </div>

        <div class="main-content" style="grid-template-columns: 1fr;">

            <div class="right-panel" style="max-width: none;">
                <div class="form-panel">

                    <form th:action="${isEdit} ? @{/manager/assets/edit/{id}(id=${asset.assetId})} : @{/manager/assets/create}"
                          th:object="${asset}" method="post">

                        <input type="hidden" th:if="${isEdit}" th:field="*{assetId}"/>


                        <!-- name-->
                        <div class="form-field">
                            <label class="form-label">Tên tài sản</label>
                            <input type="text" th:field="*{assetName}" class="form-input" required
                                   placeholder="VD: Laptop Lenovo Legion 5"/>
                            <div class="error text-danger" th:errors="*{assetName}"></div>
                        </div>

                        <!-- quantity -->
                        <div th:if="${!isEdit}" class="form-field">
                            <label class="form-label">Số lượng</label>
                            <input type="number" th:field="*{quantity}" class="form-input" min="1" required
                                   placeholder="VD: 123"/>
                            <div class="error text-danger"></div>
                        </div>


                        <!-- seri -->
                        <div class="form-field">
                            <label class="form-label">SỐ SERIAL</label>
                            <input type="text" th:field="*{serialNumber}" class="form-input"
                                   placeholder="VD: SN12345678"/>
                            <div class="error text-danger" th:errors="*{serialNumber}"></div>
                        </div>

                        <!-- loai ts -->
                        <div class="form-field">
                            <label class="form-label">LOẠI TÀI SẢN</label>
                            <select th:field="*{assetTypeId}" class="form-input" required>
                                <option value="">-- Chọn loại tài sản --</option>
                                <option th:each="type : ${assetTypes}"
                                        th:value="${type.typeId}"
                                        th:text="${type.typeName}"></option>
                            </select>
                        </div>

                        <!-- ngày mua -->
                        <div class="form-field">
                            <label class="form-label">NGÀY MUA</label>
                            <input type="date" th:field="*{acquisitionDate}" class="form-input"/>
                        </div>

                        <!-- giá -->
                        <div class="form-field">
                            <label class="form-label">NGUYÊN GIÁ (₫)</label>
                            <input type="number" step="1000" th:field="*{originalCost}" class="form-input" min="0"/>
                            <div class="error text-danger" th:errors="*{originalCost}"></div>
                        </div>

                        <!-- bảo hành bđ -->
                        <div class="form-field">
                            <label class="form-label">NGÀY BẢO HÀNH BẮT ĐẦU</label>
                            <input type="date" th:field="*{warrantyStartDate}" class="form-input"/>
                        </div>

                        <!--bảo hành kthuc -->
                        <div class="form-field">
                            <label class="form-label">NGÀY BẢO HÀNH KẾT THÚC</label>
                            <input type="date" th:field="*{warrantyEndDate}" class="form-input"/>
                        </div>

                        <!--trạng thái htai-->
                        <div class="form-field">
                            <label class="form-label">TRẠNG THÁI HIỆN TẠI</label>
                            <select th:field="*{currentStatus}" class="form-input">
                                <option value="">-- Chọn trạng thái tài sản --</option>
                                <option th:each="status: ${statuses}"
                                        th:value="${status}"
                                        th:text="${status}">

                                </option>

                            </select>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn-add"
                                    th:text="${isEdit} ? 'CẬP NHẬT' : 'THÊM MỚI'"></button>
                            <button type="button" onclick="window.location.href='/manager/assets'"
                                    class="btn-cancel">HỦY
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</th:block>
</body>
</html>