<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle} ?: 'PROCUREX – Warehouse'">PROCUREX – Warehouse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/layout/style.css}">
    <th:block layout:fragment="extra-css"></th:block>
</head>

<body>
    <div class="dashboard-wrapper">

        <!-- Luôn hiển thị warehouse sidebar bất kể role -->
        <th:block th:replace="~{fragment/warehouse-sidebar :: sidebar(${activeMenu}, ${activeSub})}"></th:block>

        <!-- Content bên phải -->
        <main class="dashboard-content" layout:fragment="content">
        </main>

    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <th:block layout:fragment="extra-js"></th:block>
</body>

</html>