<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/director-layout}">
<!--~{}: link -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Request Management - Procurex</title>
    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/purchase/purchase-list.css}">
    </th:block>

</head>

<body>
    <th:block layout:fragment="content">

        <div class="purchase-content-wrapper">
            <form method="get" th:action="@{/director/purchase/search-filter}" id="filterForm">
                <header class="top-bar">
                    <h1>PURCHASE REQUEST MANAGEMENT</h1>
                    <div class="top-actions">
                        <div class="search-box">
                            <i class="fas fa-search"></i>
                            <input type="text" name="p" th:value="${param.p}" placeholder="Search by PR ID...">
                        </div>
                        <i class="far fa-bell icon-btn"></i>
                        <i class="fas fa-cog icon-btn"></i>
                    </div>
                </header>

                <!-- Filters Section -->
                <section class="filters-bar">
                    <div class="filter-group">
                        <select id="statusFilter" name="status">
                            <option value="">Status: All</option>
                            <option th:each="s : ${status}" th:value="${s}" th:text="${s}"
                                th:selected="${param.status != null and  param.status[0] == s}">
                            </option>
                        </select><select id="priorityFilter" name="priority">
                            <option value="All">Priority: All</option>
                            <option th:each="pi : ${priorities}" th:value="${pi}" th:text="${pi}"
                                th:selected="${param.priority != null and param.priority[0] == pi}">
                            </option>
                        </select>

                        <input type="date" name="from" th:value="${param.from}">
                        <input type="date" name="to" th:value="${param.to}">
                        <a class="btn-reset" th:href="@{/director/purchases}">RESET</a>
                    </div>
                </section>
            </form>

            <!-- Data Table Section -->
            <div class="table-container">
                <table class="data-table" id="purchaseTO">
                    <thead>
                        <tr>
                            <th>PR ID </th>
                            <th>STATUS </th>
                            <th>CREATOR </th>
                            <th>NEEDED DATE</th>
                            <th>PRIORITY </th>
                            <th>CREATED AT </th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${purchases}">

                            <td th:text="'PR-' + ${p.id}"></td>
                            <td th:text="${p.status}"></td>
                            <td th:text="${p.createdByUser}"></td>
                            <td th:text="${#temporals.format(p.neededByDate,'dd-MM-yyyy')}"></td>
                            <td th:text="${p.priority}"></td>
                            <td th:text="${#temporals.format(p.createdAt,'dd-MM-yyyy')}"></td>
                            <td class="cell-actions">
                                <form method="post" th:action="@{/director/purchases/{id}(id=${p.id})}">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <button type="submit" name="actions" value="a" class="btn-approve">APPROVE</button>
                                    <button type="submit" name="actions" value="r" class="btn-reject">REJECT</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </th:block>


    <th:block layout:fragment="extra-js">
        <script th:src="@{/js/purchase/pr-list.js}"></script>
    </th:block>
</body>

</html>