<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main-layout}">

<head>
    <title>Tạo Yêu Cầu Mua Sắm</title>
    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/purchase/purchase-form.css}">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="pr-container">
            <!-- Tiêu đề -->
            <header class="pr-header">
                <div class="header-left">
                    <h1>TẠO YÊU CẦU MUA SẮM</h1>
                </div>
            </header>

            <!-- BIỂU MẪU -->
            <form th:action="@{/purchases/create}" th:object="${purchaseCreateRequest}" method="post">

                <!-- hidden purchaseId cho update draft -->
                <input type="hidden" th:field="*{purchaseId}">

                <!-- Phần thông tin chung -->
                <section class="form-section">
                    <h2 class="section-title">THÔNG TIN CHUNG</h2>

                    <div class="form-grid">
                        <!-- reason -->
                        <div class="form-group">
                            <label>LÝ DO YÊU CẦU</label>
                            <input type="text" th:field="*{reason}" placeholder="Intern mới vào..." required>
                            <div class="field-error" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></div>
                        </div>

                        <!-- neededByDate -->
                        <div class="form-group">
                            <label>NGÀY CẦN</label>
                            <input type="date" th:field="*{neededByDate}">
                            <div class="field-error" th:if="${#fields.hasErrors('neededByDate')}"
                                th:errors="*{neededByDate}"></div>
                        </div>

                        <!-- priority  -->
                        <div class="form-group">
                            <label>ĐỘ ƯU TIÊN</label>
                            <select th:field="*{priority}">
                                <option value="">-- Chọn --</option>
                                <option th:each="p: ${T(edu.fpt.groupfive.common.Priority).values()}" th:value="${p}"
                                    th:text="${p.description}"></option>
                            </select>
                            <div class="field-error" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">
                            </div>
                        </div>

                        <!-- note -->
                        <div class="form-group" style="grid-column: span 3;">
                            <label>GHI CHÚ THÊM</label>
                            <textarea th:field="*{purchaseNote}"
                                placeholder="Cung cấp thêm chi tiết cho bộ phận xử lý..."></textarea>
                            <div class="field-error" th:if="${#fields.hasErrors('purchaseNote')}"
                                th:errors="*{purchaseNote}"></div>
                        </div>
                    </div>
                </section>

                <!-- Phần chi tiết các mặt hàng -->
                <section class="form-section">
                    <h2 class="section-title">CHI TIẾT YÊU CẦU MUA SẮM</h2>

                    <div class="table-container">
                        <table class="pr-table">
                            <thead>
                                <tr>
                                    <th style="width: 22%;">LOẠI TÀI SẢN</th>
                                    <th style="width: 8%;">SỐ LƯỢNG</th>
                                    <th style="width: 15%;">GIÁ DỰ KIẾN (VNĐ)</th>
                                    <th style="width: 25%;">YÊU CẦU KỸ THUẬT</th>
                                    <th style="width: 25%;">GHI CHÚ MẶT HÀNG</th>
                                    <th style="width: 5%;"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="d, stat : *{purchaseRequestDetailCreateRequests}">
                                    <!-- Asset Type -->
                                    <td>
                                        <select class="input-prem"
                                            th:field="*{purchaseRequestDetailCreateRequests[__${stat.index}__].typeId}">
                                            <option value="">Chọn loại tài sản...</option>
                                            <option th:each="a : ${assetTypes}" th:value="${a.typeId}"
                                                th:text="${a.typeName}">
                                            </option>
                                        </select>

                                        <div class="field-error"
                                            th:if="${#fields.hasErrors('purchaseRequestDetailCreateRequests[' + stat.index + '].typeId')}"
                                            th:errors="*{purchaseRequestDetailCreateRequests[__${stat.index}__].typeId}">
                                        </div>
                                    </td>

                                    <!-- Quantity -->
                                    <td>
                                        <input type="number" step="1" class="input-prem"
                                            th:field="*{purchaseRequestDetailCreateRequests[__${stat.index}__].quantity}" required/>

                                        <div class="field-error"
                                            th:if="${#fields.hasErrors('purchaseRequestDetailCreateRequests[' + stat.index + '].quantity')}"
                                            th:errors="*{purchaseRequestDetailCreateRequests[__${stat.index}__].quantity}">
                                        </div>
                                    </td>

                                    <!-- Estimate Price -->
                                    <td>
                                        <input type="number" step="0.01" class="input-prem"
                                            th:field="*{purchaseRequestDetailCreateRequests[__${stat.index}__].estimatePrice}" required/>

                                        <div class="field-error"
                                            th:if="${#fields.hasErrors('purchaseRequestDetailCreateRequests[' + stat.index + '].estimatePrice')}"
                                            th:errors="*{purchaseRequestDetailCreateRequests[__${stat.index}__].estimatePrice}">
                                        </div>
                                    </td>

                                    <!-- Specification Requirement -->
                                    <td>
                                        <input type="text" class="input-prem"
                                            th:field="*{purchaseRequestDetailCreateRequests[__${stat.index}__].specificationRequirement}" required />

                                        <div class="field-error"
                                            th:if="${#fields.hasErrors('purchaseRequestDetailCreateRequests[' + stat.index + '].specificationRequirement')}"
                                            th:errors="*{purchaseRequestDetailCreateRequests[__${stat.index}__].specificationRequirement}">
                                        </div>
                                    </td>

                                    <!-- Purchase Detail Note -->
                                    <td>
                                        <input type="text" class="input-prem"
                                            th:field="*{purchaseRequestDetailCreateRequests[__${stat.index}__].purchaseDetailNote}" />

                                        <div class="field-error"
                                            th:if="${#fields.hasErrors('purchaseRequestDetailCreateRequests[' + stat.index + '].purchaseDetailNote')}"
                                            th:errors="*{purchaseRequestDetailCreateRequests[__${stat.index}__].purchaseDetailNote}">
                                        </div>
                                    </td>

                                    <!-- Xóa dòng -->
                                    <td>
                                        <button type="submit" class="btn-remove" name="remove" th:value="${stat.index}"
                                            title="Xóa mặt hàng">
                                            &times;
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <!-- Thêm mặt hàng mới -->
                        <button type="submit" class="btn-add-row" name="addDetail" value="true">+ THÊM MẶT HÀNG
                            MỚI</button>
                    </div>
                </section>

                <!-- Các nút điều hướng cuối -->
                <footer class="pr-footer">

                    <div class="footer-right">
                        <button type="button" class="btn-text" onclick="history.back()">HỦY</button>

                        <button type="submit" class="btn-outline" name="actions" value="draft">LƯU NHÁP</button>

                        <button type="submit" class="btn-solid" name="actions" value="save">GỬI YÊU CẦU</button>
                    </div>
                </footer>

            </form>

        </div>
    </th:block>
</body>

</html>